
.s_syndicom_button {
    margin: $grid-gutter-width/2 0;
    border-width: $alert-border-width;
    border-style: none;
    border-radius: $alert-border-radius;
    p, ul, ol {
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.s_syndicom_button_sm {
        padding: $grid-gutter-width/3;
        font-size: $font-size-sm;
    }
    &.s_syndicom_button_md {
        padding: $grid-gutter-width/2;
        font-size: $font-size-base;
    }
    &.s_syndicom_button_lg {
        padding: $grid-gutter-width;
        font-size: $font-size-lg;
    }
    .s_syndicom_button_icon {
        float: left;
        margin-right: 10px;
    }
    .s_syndicom_button_content {
        overflow: hidden;
    }
}

.o_default_snippet_text {
    color:red !important;
}