<odoo>
  <data>
        <!-- Betriebe / Standorte -->
        <menuitem id="syndicom_internal_information"
                  name="Intern"
                  web_icon="syndicom_main,static/description/odoo_icon_newspaper.png"
                  sequence="2"
                  groups="base.group_user"/>

        <menuitem id="syndicom_internal_information_news"
                  name="News"
                  parent="syndicom_internal_information"
                  action = "action_window_internal_information"
                  sequence="10"/>

        <menuitem id="syndicom_internal_information_config"
                  name="Konfiguration"
                  parent="syndicom_internal_information"
                  sequence="90"/>

          
        <menuitem id="syndicom_internal_information_config_category"
                  name="Kategorien"
                  parent="syndicom_internal_information_config"
                  action = "action_window_internal_category"
                  sequence="10"/>
                  

        <!-- Betriebe / Standorte -->

        <menuitem id="syndicom_work_locations_root"
                  name="Betriebe"
                  sequence="21"
                  web_icon="syndicom_main,static/description/odoo_icon_betrieb.png"
                  groups="base.group_user"/>

        <menuitem id="syndicom_work_locations_menu"
                  name="Betriebe"
                  parent="syndicom_work_locations_root"
                  sequence="10"/>

        <menuitem id="syndicom_work_locations_liste"
                  name="Liste aller Betriebe"
                  parent="syndicom_work_locations_menu"
                  action="action_window_work_locations"
                  sequence="15"/>

        <!-- Organisation Plus -->
        <menuitem id="syndicom_binding"
                  name="Org+"
                  parent="membership.menu_association"
                  sequence="10"/>
        <menuitem id="syndicom_binding_conversations"
                  name="Anrufe durch Org+"
                  parent="syndicom_binding"
                  action="action_window_binding_conversations"
                  sequence="15"/>
         <menuitem id="syndicom_retirement_consulting"
                  name="Pensionierungsberatungen"
                  parent="syndicom_binding"
                  action="action_window_retirement_consulting"
                  sequence="20"/>

        <menuitem id="syndicom_binding_operators"
                  name="Agenten"
                  parent="syndicom_binding"
                  action="action_window_binding_operators"
                  sequence="90"/>


        <!-- Strassenverzeichnis -->
        <menuitem id="suisse_streets"
                  name="CH-Strasassenverzeichnis"
                  parent="contacts.menu_localisation"
                  action="action_window_suisse_streets"
                  sequence="90"/>
        
                  
        <!-- my.syndicom Benutzeraccounts -->
        <menuitem id="mysyndicom_users"
                  name="my.syndicom"
                  parent="syndicom_member_administration.syndicom_member_admin_root"
                  sequence="50"/>

        <menuitem id="mysyndicom_users_accounts"
                  name="Accounts"
                  parent="syndicom_main.mysyndicom_users"
                  action="action_window_mysyndicom_users"
                  sequence="10"/>


  </data>
</odoo>