<odoo>
  <data>
        <menuitem id="syndicom_work_locations_root"
                  name="Betriebe"
                  sequence="21"
                  web_icon="syndicom_main,static/description/odoo_icon_betrieb.png"
                  groups="base.group_user"/>

        <menuitem id="syndicom_work_locations_menu"
                  name="Betriebe"
                  parent="syndicom_work_locations_root"
                  sequence="10"/>

        <menuitem id="syndicom_work_locations_liste"
                  name="Liste aller Betriebe"
                  parent="syndicom_work_locations_menu"
                  action="action_window_work_locations"
                  sequence="15"/>
  </data>
</odoo>